/*-------------------------*/
/*---------RESET-----------*/
/*-------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
div,
span,
a,
p,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  font: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

/*-------------------------*/
/*---------FONTS-----------*/
/*-------------------------*/
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
}

/*-----------------------*/
/*---------APP-----------*/
/*-----------------------*/
.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
  grid-template-columns: 100px 1fr;
  -ms-grid-rows: 100px 1fr;
  grid-template-rows: 100px 1fr;
  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
}

/*-----------------------*/
/*---------LOGO----------*/
/*-----------------------*/
.logo {
  background-color: #6F52ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 10px 0;
}

/*-----------------------*/
/*---------HEADER--------*/
/*-----------------------*/
.header {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px 0 60px;
}

.header_search__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header_user__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_user__text {
  cursor: pointer;
}

.header_user__text_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0 0 7px 0;
}

.header_user__text_role {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #A6ACBE;
}

.header_user__avatar {
  margin: 0 18px 0 14px;
  cursor: pointer;
}

.header_user__more {
  cursor: pointer;
}

.header_user__notifications {
  margin: 0 30px 0 57px;
  cursor: pointer;
  position: relative;
}

.header_user__notifications::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 64px;
  background-color: #EFF4F7;
  left: -27px;
  top: -20px;
}

.header_user__logout {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #A6ACBE;
  margin: 0 0 0 14px;
}

/*-----------------------*/
/*---------NAV-----------*/
/*-----------------------*/
.nav {
  background-color: #373B53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav svg {
  stroke: #969CBA;
}

.nav_item {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin: 20px 0;
  padding: 3px 0 0 0;
  cursor: pointer;
}

.nav_item:hover svg {
  stroke: #713BDB;
}

.nav .active {
  background-color: #FFFFFF;
}

.nav .active svg {
  stroke: #713BDB;
}

.nav_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  position: relative;
}

.nav_settings::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100px;
  height: 1px;
  background-color: #494E67;
}

/*-----------------------*/
/*---------BOARD---------*/
/*-----------------------*/
.board {
  display: -ms-grid;
  display: grid;
  background-color: #F8F8FB;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  -ms-grid-rows: auto 40px auto 40px auto 40px auto 40px auto;
      grid-template-areas: "head head head head" "students average underperforming homeworks" "barChart barChart rating donut" "barChart barChart rating donut" "lections hours rating donut";
  padding: 50px 60px 64px 60px;
}

.board_head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: head;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_title__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0 0 10px 0;
}

.head_title__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #A6ACBE;
}

.head_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_btns__btn {
  height: 50px;
  padding: 0 20px;
  margin: 0 0 0 30px;
  cursor: pointer;
  border: 1px solid #DADCE6;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_btns__btn p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #6F52ED;
  margin: 0 0 0 14px;
}

.edit svg {
  stroke: #6F52ED;
  margin: 5px 0 0 0;
}

.edit:hover {
  background-color: #6F52ED;
}

.edit:hover svg {
  stroke: #F8F8FB;
  fill: #6F52ED;
}

.edit:hover p {
  color: #F8F8FB;
}

.plus svg {
  fill: #6F52ED;
  margin: 5px 0 0 0;
}

.plus:hover {
  background-color: #6F52ED;
}

.plus:hover svg {
  fill: #F8F8FB;
}

.plus:hover p {
  color: #F8F8FB;
}

.tile {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 40px;
  cursor: pointer;
}

.simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple_icon {
  width: 70px;
  height: 70px;
  margin: 0 30px 0 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple_text__counter {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0 0 12px 0;
}

.simple_text__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #A6ACBE;
}

.board_students {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: students;
}

.board_students .simple_icon {
  background-color: #F8F5FD;
}

.board_average {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: average;
}

.board_underperforming {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: underperforming;
}

.board_homeworks {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: homeworks;
}

.board_barChart {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: barChart;
}

.board_rating {
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  -ms-grid-column: 5;
  grid-area: rating;
}

.board_donut {
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  -ms-grid-column: 7;
  grid-area: donut;
}

.board_lections {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: lections;
}

.board_hours {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  grid-area: hours;
}

/*-----------------------*/
/*---------MEDIA---------*/
/*-----------------------*/
