@import "reset";
@import "fonts";

/*-----------------------*/
/*---------APP-----------*/
/*-----------------------*/

.app{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr;
  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
}

/*-----------------------*/
/*---------LOGO----------*/
/*-----------------------*/

.logo{
  background-color: #6F52ED;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
}

/*-----------------------*/
/*---------HEADER--------*/
/*-----------------------*/

.header{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px 0 60px;
  &_search{
    &__wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
  }
  &_user{
    &__wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__text{
      cursor: pointer;
      &_name{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.01em;
        color: #000000;
        margin: 0 0 7px 0;
      }
      &_role{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        letter-spacing: 0.01em;
        color: #A6ACBE;
      }
    }
    &__avatar{
      margin: 0 18px 0 14px;
      cursor: pointer;
    }
    &__more{
      cursor: pointer;
    }
    &__notifications{
      margin: 0 30px 0 57px;
      cursor: pointer;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        width: 1px;
        height: 64px;
        background-color: #EFF4F7;
        left: -27px;
        top: -20px;
      }
    }
    &__logout{
      cursor: pointer;
    }
  }
}
input{
  outline: none;
  border: none;
  box-shadow: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #A6ACBE;
  margin: 0 0 0 14px;
}

/*-----------------------*/
/*---------NAV-----------*/
/*-----------------------*/

.nav{
  background-color: #373B53;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  svg{
    stroke: #969CBA;
  }
  &_item{
    box-shadow: 0px 4px 10px
      rgba(0, 0, 0, 0.05);
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0;
    padding: 3px 0 0 0;
    cursor: pointer;
    &:hover svg{
      stroke: #713BDB;
    }
  }
  .active{
    background-color: #FFFFFF;
    svg{
      stroke: #713BDB;
    }
  }
  &_settings{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      width: 100px;
      height: 1px;
      background-color: #494E67;
    }
  }
}

/*-----------------------*/
/*---------BOARD---------*/
/*-----------------------*/

.board{
  display: grid;
  background-color: #F8F8FB;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  grid-template-areas:
  "head head head head"
  "students average underperforming homeworks"
  "barChart barChart rating donut"
  "barChart barChart rating donut"
  "lections hours rating donut";
  padding: 50px 60px 64px 60px;
}

.board_head{
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head{
  &_title{
    &__wrap{}
    &__title{
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.01em;
      color: #000000;
      margin: 0 0 10px 0;
    }
    &__subtitle{
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #A6ACBE;
    }
  }
  &_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__btn{
      height: 50px;
      padding: 0 20px;
      margin: 0 0 0 30px;
      cursor: pointer;
      border: 1px solid #DADCE6;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: #6F52ED;
        margin: 0 0 0 14px;
      }
    }
  }
}
.edit{
  svg{
    stroke: #6F52ED;
    margin: 5px 0 0 0;
  }
  &:hover{
    svg{
      stroke: #F8F8FB;
      fill: #6F52ED;
    }
    background-color: #6F52ED;
    p{
      color: #F8F8FB;
    }
  }
}
.plus{
  svg{
    fill: #6F52ED;
    margin: 5px 0 0 0;
  }
  &:hover{
    svg{
      fill: #F8F8FB;
    }
    background-color: #6F52ED;
    p{
      color: #F8F8FB;
    }
  }
}

.tile{
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 40px;
  cursor: pointer;
}
.simple{
  display: flex;
  justify-content: left;
  align-items: center;
  &_icon{
    width: 70px;
    height: 70px;
    margin: 0 30px 0 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_text{
    &__counter{
      font-weight: 600;
      font-size: 28px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #000000;
      margin: 0 0 12px 0;
    }
    &__title{
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #A6ACBE;
    }
  }
}

.board_students{
  grid-area: students;
  .simple_icon{
    background-color: #F8F5FD;
  }
}
.board_average{
  grid-area: average;
}
.board_underperforming{
  grid-area: underperforming;
}
.board_homeworks{
  grid-area: homeworks;
}
.board_barChart{
  grid-area: barChart;
}
.board_rating{
  grid-area: rating;
}
.board_donut{
  grid-area: donut;
}
.board_lections{
  grid-area: lections;
}
.board_hours{
  grid-area: hours;
}


@import "media";