@import "reset";
@import "fonts";

/*-----------------------*/
/*---------APP-----------*/
/*-----------------------*/

.app{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr;
  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
}

/*-----------------------*/
/*---------LOGO----------*/
/*-----------------------*/

.logo{
  background-color: #6F52ED;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
}

/*-----------------------*/
/*---------HEADER--------*/
/*-----------------------*/

.header{
  background-color: #FFFFFF;
}

/*-----------------------*/
/*---------NAV-----------*/
/*-----------------------*/

.nav{
  background-color: #373B53;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  svg{
    width: 24px;
    height: 24px;
    stroke: #969CBA;
  }
  &_item{
    box-shadow: 0px 4px 10px
      rgba(0, 0, 0, 0.05);
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0;
    padding: 3px 0 0 0;
    cursor: pointer;
    &:hover svg{
      stroke: #713BDB;
    }
  }
  .active{
    background-color: #FFFFFF;
  }
  &_settings{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      width: 100px;
      height: 1px;
      background-color: #494E67;
    }
  }
}

/*-----------------------*/
/*---------BOARD---------*/
/*-----------------------*/

.board{
  display: grid;
  background-color: #DFE1EB;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "head head head head"
  "students average underperforming homeworks"
  "barChart barChart rating donut"
  "barChart barChart rating donut"
  "lections hours rating donut";
  padding: 50px 60px 64px 60px;
}

.board_head{
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head{
  &_title{
    &__wrap{}
    &__title{
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.01em;
      color: #000000;
      margin: 0 0 10px 0;
    }
    &__subtitle{
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #A6ACBE;
    }
  }
  &_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__btn{
      height: 50px;
      padding: 0 20px;
      margin: 0 0 0 30px;
      cursor: pointer;
      border: 1px solid #DADCE6;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg{
        width: 20px;
        height: 20px;
        stroke: #6F52ED;
      }
      p{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: #6F52ED;
        margin: 0 0 0 14px;
      }
    }
  }
}

.board_students{
  grid-area: students;
}
.board_average{
  grid-area: average;
}
.board_underperforming{
  grid-area: underperforming;
}
.board_homeworks{
  grid-area: homeworks;
}
.board_barChart{
  grid-area: barChart;
}
.board_rating{
  grid-area: rating;
}
.board_donut{
  grid-area: donut;
}
.board_lections{
  grid-area: lections;
}
.board_hours{
  grid-area: hours;
}


@import "media";